.dashboard {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.dashboard .title-section {
  text-align: center;
}

.dashboard .page-title {
  color: #000;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

.dashboard .page-summary {
  color: #686666;
  font-family: Poppins;
  font-size: 18px;
  max-width: 800px;
  align-self: center;
  text-align: center;
}

.dashboard .section-link {
  color: #555;
  text-decoration: underline;
  text-align: center;
}

.dashboard .section-link:hover {
  cursor: pointer;
}

.dashboard .community-notice {
  color: rgb(0, 77, 221);
  font-size: 20px;
}

.dashboard .community-link {
  color: rgb(0, 77, 221);
  font-size: 20px;
  text-decoration: underline;
}

.dashboard .community-link:hover {
  cursor: pointer;
}

.dashboard .delete-link {
  color: rgb(221, 0, 0);
  text-decoration: underline;
  text-align: center;
}

.dashboard .delete-link:hover {
  cursor: pointer;
}

.dashboard .warning {
  font-weight: bold;
  text-align: center;
  max-width: 800px;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dashboard .points {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}