.hero-image-frame.community-page {
  width: 500px;
  height: 500px;
}  

.hero-image.community-page {
  width: 70%;
  max-width: 100%;
  height: auto;
  margin: 10% 22% 0 0;
  right: 28%;
}  

.hero-section.community-page .bubble1 {
  width: 25%;
  left: auto;
  right: 27%;
  bottom: auto;
  top: 10%;
}

.hero-section.community-page .bubble2 {
  width: 15%;
  left: auto;
  right: 18%;
  bottom: auto;
  top: 15%;
}

.hero-section.community-page .bubble3 {
  width: 10%;
  left: auto;
  right: 25%;
  bottom: auto;
  top: 28%;
}

.button-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}