.admin-dashboard {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-self: stretch;
  align-items: center;
}

.admin-dashboard .title-section {
  gap: 16px;
}

.admin-dashboard .page-title {
  color: #000;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}

.admin-dashboard .member-count {
  font-size: 24px;
}

.admin-dashboard .warning {
  font-weight: bold;
  text-align: center;
  max-width: 800px;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.admin-dashboard .section-link {
  color: #555;
  text-decoration: underline;
}

.admin-dashboard .section-link:hover {
  cursor: pointer;
}

.admin-dashboard .section-title {
  font-size: 32px;
}

.admin-dashboard .admin-section {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.admin-dashboard .admin-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.admin-dashboard .menu {
  flex: 0;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  border-right: 1px solid #ccc;
}

.admin-dashboard .menu-heading {
  font-size: 17px;
  font-weight: 700;
  color: rgb(73, 53, 48);;
  text-decoration: underline;
}

.admin-dashboard .menu-item {
  font-size: 16px;
  font-weight: 500;
  color: #0139ab;
}

.admin-dashboard .menu-item.selected {
  font-weight: 700;
  color: #00256f;
}

.admin-dashboard .menu-item:hover {
  cursor: pointer;
}

.admin-dashboard .member-list {
  flex: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.admin-dashboard .member {
  display: flex;
  gap: 16px;
  text-align: left;
  border-bottom: 1px solid #aaa;
  padding: 4px 8px;
}

.admin-dashboard .member:hover {
  cursor: pointer;
}

.admin-dashboard .member:nth-child(odd) {
  background-color: #eaf2fa;
}

.admin-dashboard .member.selected {
  background-color: rgb(253, 253, 186);
}

.admin-dashboard .member.header-row {
  font-weight: 700;
  background-color: #4e76c8;
  color: white;
}

.admin-dashboard .member.header-row .mint {
  flex: 0;
  min-width: 78px;
  max-width: 78px;
}

.admin-dashboard .member.header-row:hover {
  cursor: inherit;
}

.admin-dashboard .member-list div {
  flex: 1;
}

.admin-dashboard .member-list .mono {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

.admin-dashboard .batch-mint-button-bar {
  flex: 1;
  display: flex;
  gap: 8px;
  padding-right: 8px;
  align-items: center;
  justify-content: flex-end;
}

.admin-dashboard .batch-mint-textbox {
  flex: 0;
  min-width: 60px;
  max-width: 60px;
  align-self: stretch;
  align-items: center;
  border: 1px solid;
  border-color: #dcdcdc;
  border-radius: 4px;
  display: flex;
  overflow: hidden;
  padding: 2px 8px;
  position: relative;
}

.admin-dashboard .batch-mint-textbox input {
  color: #666666;
  max-width: 56px;
  background-color: inherit;
  font-family: "Arial-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  border: none;
}

.admin-dashboard .batch-mint-textbox input:focus{
  outline: none;
}

.admin-dashboard .member-list .highlight-text {
  color: #0051ff;
  font-weight: 700;
}