.registration .hero-image-frame {
  width: 500px;
  height: 500px;
}  

.registration .hero-image {
  width: 70%;
  max-width: 100%;
  height: auto;
  margin: 10% 22% 0 0;
  right: 28%;
}  

.registration .hero-section .bubble1 {
  width: 25%;
  left: auto;
  right: 27%;
  bottom: auto;
  top: 10%;
}

.registration .hero-section .bubble2 {
  width: 15%;
  left: auto;
  right: 18%;
  bottom: auto;
  top: 15%;
}

.registration .hero-section .bubble3 {
  width: 10%;
  left: auto;
  right: 25%;
  bottom: auto;
  top: 28%;
}

.registration .member-count {
  font-style: italic;
  font-size: 20px;
  color: #0067a2;
}

.registration .disclaimer-box {
  border: 1px solid #88a;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  gap: 24px;
}

.registration .disclaimer {
  font-style: italic;
}

.registration .community-link {
  text-decoration: underline;
}

.registration .community-link:hover {
  cursor: pointer;
}
